@font-face {
    font-family:'Roboto_regular';
    src: url(./fonts/Roboto-Regular.ttf);
}
body{
    margin: 0;
}
*{
    font-family: 'Roboto_regular', sans-serif;
}
.main{
    height: 601px;
    width: 100%;
    background-color: #36415c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main div:only-child {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a6387;
    height: 370px;
}
.one{
    width: 400px;
}
.two{
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

button, input{
    height:32px;
    width:285px;
    margin:7px;
    border-radius: 10px;
    border:  #3882F6;
}
button{
    width:293px;
    background-color:#36415c;
    color:#4a6387
}
footer, header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    background-color: #1F2937;
}
header div a{
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #F9FAF8;
}
header div{
    width: 1000px;
}
.logo{
    float: left;
    font-size: 24px;
    font-weight: bold;
}
h1, .logo, span{
    color: #F9FAF8;
}

.main .one div span, a{
    font-size: 14px;
}
a{
    color: #36415c;
}






